# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# environment variables
.env
secrets.hpp

# vsc
.vscode/

# python
__pycache__/

# misc
test.ino
local.py
.car
.idea

# Default ignored files
/shelf/
/workspace.xml
/build

# godot stuff we dont need on github
godot-resources/mods/race_mod/src/environments/race/assets
godot-resources/mods/RaceAgainstMod/src/environments/raceagainst/assets
godot-resources/Bugatti/assets
godot-resources/Bugatti/textures
godot-resources/Hover/assets
godot-resources/Hover/textures
godot-resources/LamboTerzo/assets
godot-resources/LamboTerzo/textures
godot-resources/LowPolyCars/kenney_car_kit
godot-resources/vroom/assets
godot-resources/mods/MonsterMapMod/src/environments/monstermap/assets