.Home-logo {
  width: 50vh;
  height: auto;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo {
    width: 100px;
    height: auto;
  }
}

.Home-logo-text {
  font-size: 5vh;
  margin-bottom: 0px;
}

.Home-header {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-link {
  color: #ffffff;
  list-style: none;
  font-size: x-large;
  text-decoration: none;
  font-weight: 500;
  display: grid;
  justify-content: center;
  text-decoration: none;
}

.Home-linkItem {
  font-style: italic;
  font-variant: small-caps;
  background-color: rgb(86, 136, 12);
  padding: 2vh;
  border-radius: 15px;
  margin-bottom: 3vh;
  width: 60vh;
}

.Home-linkItem:visited {
  color: orange;
}

.active {
  color: white;
}

.active:visited {
  color: rgb(255, 255, 255);
}

.active:hover {
  color: rgb(18, 102, 212);
}

.difficulty-button-container {
  display: grid;
  width: 15vh;
}

.difficulty-button {
  border-style: none;
  text-align: left;
  margin: 1vh;
  padding: 2vh;
  background-color: rgb(31, 28, 179);
  color: white;
  font-weight: 600;
  font-size: large;
  text-decoration: none;
  border-radius: 10px;
}

.leaderboard-heading {
  color: antiquewhite;
}

.times-heading {
  color: antiquewhite;
}

.leaderboard-grid {
  display: grid;
}

.leaderboard-row {
  display: flex;
  background-color: darkblue;
  border-radius: 15px;
  padding: 3vh;
  color: white;
  margin: 3vh;
  justify-content: space-between;
}

.leaderboard-entry {
  margin: 2vh;
  padding: 2vh;
}
