.Home-logo {
  width: 35vh;
  height: auto;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo {
    width: 150px;
    height: auto;
  }
}

.Home-logo-text {
  font-size: 3vh;
  margin-bottom: 5vh;
}

.Home-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -5vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-link {
  list-style: none;
  font-size: x-large;
  text-decoration: none;
  font-weight: 500;
  display: grid;
  justify-content: center;
  text-decoration: none;
}

.home-link-odd,
.home-link-even {
  font-variant: small-caps;
  color: #ffffff;
  list-style-type: none;
  padding: 1vh;
  border-radius: 15px;
  margin-bottom: 2vh;
  width: 30vh;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  letter-spacing: 0.1vh;
  text-align: center;
}

.home-link-odd {
  background-color: #3186a0;
}

.home-link-even {
  background-color: #065e1c;
}

.home-link-odd:hover,
.home-link-even:hover {
  cursor: pointer;
  transition: all 0.2s ease;
  color: #070c0c;
}

.active {
  color: white;
  text-decoration: none;
}

.active:visited {
  color: rgb(255, 255, 255);
}

.active:hover {
  transition: all 0.5s ease;
  color: #003436;
}

.background {
  height: 100%;
}

.home-name-text {
  margin-left: 4vh;
  color: rgb(72, 204, 32);
}

.difficult_options {
  color: green;
}

.difficulty {
  display: flex;
  max-height: fit-content;
  border-radius: 5px 5px;
  font-variant: small-caps;
  color: #ffffff;
  list-style-type: none;
  padding: 1vh;
  border-radius: 15px;
  margin-bottom: 2vh;
  width: 40vh;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  letter-spacing: 0.1vh;
  text-align: center;
}

.difficulty-button {
  font-size: large;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  font-size: 24px;
  width: 30vh;
  color: #ffffff;
  font-variant: small-caps;
  border-style: none;
  font-family: "Audiowide", cursive, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 1vh;
}
